## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [14]:
import pandas as pd

In [15]:
def rating_class(idk):
    if idk <= 2:
        return 'низкий рейтинг'
    elif idk <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [17]:
Ratings_df = pd.read_csv('ratings.csv')
Ratings_df['class_'] = Ratings_df['rating'].apply(rating_class)
Ratings_df.class_.value_counts()

средний рейтинг    63801
высокий рейтинг    22818
низкий рейтинг     13385
Name: class_, dtype: int64

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

Результат классификации запишите в отдельный столбец region.

In [8]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
geo_data

{'Центр': ['москва', 'тула', 'ярославль'],
 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [39]:
def geo_classifier(var):
    for key, val in geo_data.items():
        for v in val:
            if v in var.lower():
                return key
    return 'undefined'

In [40]:
Keywords_df = pd.read_csv('keywords.csv')
Keywords_df['geo_classifier'] = Keywords_df['keyword'].apply(geo_classifier)
Keywords_df[Keywords_df.geo_classifier != 'undefined'].head()

                        keyword   shows  geo_classifier
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

- В переменную years запишите список из всех годов с 1950 по 2010.

- Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

- для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [2]:
def production_year(var):
    for y in range(1950, 2011):
        if str(y) in var:
            return y
    return 1900

In [3]:
def join_analogue(var):
    for key, val in dict_['Year'].items():
        if key == var:
            return val

In [20]:
Moveis_df = pd.read_csv('movies.csv')
Moveis_df['Year'] = Moveis_df['title'].apply(production_year) 

dict_ = Moveis_df[['movieId', 'Year']].set_index('movieId').to_dict('Dict')

Ratings_df['Year'] = Ratings_df['movieId'].apply(join_analogue)
Ratings_df

Ratings_df.groupby(['Year']).mean()[['rating']].sort_values(by=['rating'], ascending=False)

        rating
Year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]