In [57]:
# Задание 1

word = 'TestWord'
    
if len(word) % 2 == 0:
    print(word[len(word)//2-1:len(word)//2+1])
else:
    print(word[len(word)//2])

tW

In [1]:
# Задание 2

num = 1
sum_ = 0

# while num != 0:
#     num = int(input('Введите число: '))
#     print('Результат:' + str(num))

while num != 0:
    num = int(input('Введите число: '))
    sum_ += num
print('Результат:' + str(sum_))

Введите число: 1
Введите число: 6
Введите число: 4
Введите число: 8
Введите число: 0
Результат:19

In [54]:
# Задание 3

boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls): 
    boys_and_girls_zip = zip(sorted(boys), sorted(girls))
    boys_and_girls_list = list(boys_and_girls_zip)
    for elem in boys_and_girls_list:
        print('Идеальные пары: ' + str(elem[0]) + ' и ' + str(elem[1]))
else:
    print('Внимание, кто-то может остаться без пары!')

Идеальные пары: Alex и Emma
Идеальные пары: Arthur и Kate
Идеальные пары: John и Kira
Идеальные пары: Peter и Liza
Идеальные пары: Richard и Trisha

In [43]:
# Задание 4

countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for country in countries_temperature:
    print(country[0] + ' - ' + str((sum(country[1])/len(country[1])-32)/1.8))
    print()
    
    
# Thailand - 23.9 С
# Germany - 13.8 С
# Russia - 3.7 С
# Poland - 12.0 С

Thailand - 23.857142857142854

Germany - 13.799999999999997

Russia - 3.7142857142857166

Poland - 11.999999999999996

In [278]:
# Задание 5

# stream = [
# '2018-01-01,user1,3',
# '2018-01-07,user1,4',
# '2018-03-29,user1,1',
# '2018-04-04,user1,13',
# '2018-01-05,user2,7',
# '2018-06-14,user3,4',
# '2018-07-02,user3,10',
# '2018-03-21,user4,19',
# '2018-03-22,user4,4',
# '2018-04-22,user4,8',
# '2018-05-03,user4,9',
# '2018-05-11,user4,11',
# ]

stream = [
'2018-01-01,user100,150',
'2018-01-07,user99,205',
'2018-03-29,user1001,81'
]

users = []

for row1 in stream:
    user = row1[11:([i for i, n in enumerate(row1) if n == ','][1])]
    if user not in users:
        users.append(user)     

viewing = []

for elem in users:  
    viewing.append(sum_)
    sum_ = 0
    for row2 in stream:   
        if elem == row2[11:([i for i, n in enumerate(row2) if n == ','][1])]:
            sum_ += int(row2[([i for i, n in enumerate(row2) if n == ','][1])+1:])            
            
print(sum(viewing)/len(viewing))

# Скажу честно, конструкцию [i for i, n in enumerate(row2) if n == ','][1]
# Оч примерно понимаю как она работает
# Варианты проще в голову вообще не лезут

145.33333333333334

In [291]:
# Задание 6

val1 = input('Введите числа разделенные пробелом ')
val2 = ''

if ' ' not in val1:
    print('error')
else:
    for letter in val1:
        if letter != '' and letter not in val2:
            val2 += letter
            val2 += ' '
print('Результат: ' + val2)

Введите числа разделенные пробелом 5 5 5 7 8 2 4 6
Результат: 5 7 8 2 4 6