## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

По ссылке не скачать ни один дата сет, выдает ошибку. Нашел в доп файлах у 11 домашки csv файл с рейтингами, использую его

In [45]:
pd.read_csv('ratings.csv')

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [63]:
df = pd.read_csv('ratings.csv')
df[df.rating == 5].groupby('movieId').sum()[['rating']].sort_values('rating', ascending=False).head(1)

         rating
movieId
318       850.0

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [67]:
df_power = pd.read_csv('power.csv')
df_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [93]:
df_power[
         ((df_power.country == 'Lithuania') |
         (df_power.country == 'Latvia') |
         (df_power.country == 'Estonia')) 
         &
         ((df_power.category == 4) |
         (df_power.category == 12) |
         (df_power.category == 21)) 
         &
         ((df_power.year == 2010) |
         (df_power.year == 2011) |
         (df_power.year == 2012) |
         (df_power.year == 2013) |
         (df_power.year == 2014) |
         (df_power.year == 2015))
         &
         (df_power.quantity > 0)
        ].groupby(['country', 'category']).sum()[['quantity']]

                    quantity
country   category
Estonia   21         58020.0
Latvia    4              8.0
          21         55264.0
Lithuania 12          1254.0
          21         91930.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.\
Примеры страниц (необязательно брать именно эти):\
https://fortrader.org/quotes \
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [96]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  89.91        0.2          0.23        NaN
1       USDRUB Курс рубля к доллару  74.64        0.1          0.14        NaN